<!DOCTYPE html>
<html lang="ar" dir="ltr">

<head>
  <title>
    Graduation Project
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="imagex-icon" href="{{ url_for("static", filename="favicon.ico") }}" />
  <link rel="stylesheet" href="{{ url_for("static", filename="libs/normalize.min.css") }}" />
  <link rel="stylesheet" href="{{ url_for("static", filename="libs/bootstrap.min.css") }}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}" />
</head>

<body class="">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 section">
        <h1>Graduation Project</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 stream-container section">
        <img src="{{ url_for('video_feed') }}" data-src="{{ url_for('video_feed') }}">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 section table-wrapper">
            <table class="table arrows">
              <tr>
                <td class="sides left-side" rowspan="2">
                  <span class="btn" id="left-arrow" data-arrow="left">
                    <i class="fas fa-angle-left"></i>
                  </span>
                </td>
                <td>
                  <span class="btn" id="up-arrow" data-arrow="up">
                    <i class="fas fa-angle-up"></i>
                  </span>
                </td>
                <td class="sides right-side" rowspan="2">
                  <span class="btn" id="right-arrow" data-arrow="right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="btn" id="down-arrow" data-arrow="down">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-12 section console-wrapper">
            <div class="console">
              <pre></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for("static", filename="scripts.js") }}"></script>
</body>

</html>